body {
  background-color: rgb(59, 59, 59);
  font-family: "Courier New", Courier, monospace;
}

/*  All signature styles are inline to allow copying to Email client   */

/*  Further Instructions   */
.note {
  background-color: antiquewhite;
  padding: 1rem;
  margin: 10px 0;
  min-width: 200px;
  max-width: 600px;
  width: 50%;
}

/*  Click-to-Copy Button   */
.button {
  display: inline-block;
  padding: 0 1.5rem;
  margin-top: 0.5rem;
  line-height: 2.5rem;
  border-radius: 0.1em;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%),
    gray;

  &:link {
    color: #fff;
    text-decoration: none;
  }

  &:visited {
    color: #fff;
  }

  &:active {
    position: relative;
    top: 0.075em;
  }
}

.button-blue {
  background-color: hsl(207, 44%, 39%);
}

.button-blue:hover {
  background-color: hsl(207, 44%, 49%);
}

.button-green {
  background-color: hsl(177, 70%, 31%);
}

.button-green:hover {
  background-color: hsl(177, 70%, 41%);
  cursor: wait;
}

.button-red {
  background-color: firebrick;
}

/* These styles handle the signature video modal */
.sigvid-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }

  &:hover {
    color: #000 !important;
    background-color: #ccc !important;
  }
}




.sigvid-dropdown-hover:hover>.sigvid-button:first-child,
.w3-dropdown-click:hover>.sigvid-button:first-child {
  background-color: #ccc;
  color: #000;
}

.w3-bar-block .w3-dropdown-hover .sigvid-button,
.w3-bar-block .w3-dropdown-click .sigvid-button {
  width: 100%;
  text-align: left;
  padding: 8px 16px;
}

.w3-main,
#main {
  transition: margin-left 0.4s;
}

.sigvid-modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.sigvid-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
}

.w3-bar .sigvid-button {
  white-space: normal;
}

@media (max-width: 600px) {
  .sigvid-modal-content {
    margin: 0 10px;
    width: auto !important;
  }

  .sigvid-modal {
    padding-top: 30px;
  }

  .w3-dropdown-hover.w3-mobile,
  .w3-dropdown-hover.w3-mobile .w3-btn,
  .w3-dropdown-hover.w3-mobile .sigvid-button,
  .w3-dropdown-click.w3-mobile,
  .w3-dropdown-click.w3-mobile .w3-btn,
  .w3-dropdown-click.w3-mobile .sigvid-button {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .sigvid-modal-content {
    width: 500px;
  }

  .sigvid-modal {
    padding-top: 50px;
  }
}

@media (min-width: 993px) {
  .sigvid-modal-content {
    width: 100%;
    max-width: 1440px;
  }

  .w3-hide-large {
    display: none !important;
  }

  .w3-sidebar.w3-collapse {
    display: block !important;
  }
}

@media (max-width: 992px) {
  .w3-sidebar.w3-collapse {
    display: none;
  }

  .w3-main {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .sigvid-auto {
    max-width: 100%;
  }
}

.w3-top,
.w3-bottom {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.w3-top {
  top: 0;
}

.w3-bottom {
  bottom: 0;
}

.w3-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.w3-display-topleft {
  position: absolute;
  left: 0;
  top: 0;
}

.sigvid-display-topright {
  position: absolute;
  right: 0;
  top: 0;
}

.sigvid-animate-zoom {
  animation: animatezoom 0.6s;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.w3-opacity,
.sigvid-hover-opacity:hover {
  opacity: 0.6;
}

.w3-opacity-off,
.sigvid-hover-opacity-off:hover {
  opacity: 1;
}

.sigvid-xlarge {
  font-size: 24px !important;
}

.w3-xxlarge {
  font-size: 36px !important;
}

.w3-xxxlarge {
  font-size: 48px !important;
}

.w3-jumbo {
  font-size: 64px !important;
}


.sigvid-hover-red:hover {
  color: #fff !important;
  background-color: #f44336 !important;
}

.sigvid-hover-green:hover {
  color: #fff !important;
  background-color: #4caf50 !important;
}